* {
    box-sizing: border-box;
}

#masthead {
    color: black;

}

.jumbotron,
.card-header {
    
    background-repeat: no-repeat;
    /* background-image: url("https://external-preview.redd.it/q2sYa64g3rLQMRFdbqkU_k_V7kQ1lUx1jO3kuv2CDVc.jpg?auto=webp&s=dffdce49994e684421b73ee6605810a8eae2de03"); */
    
    background-color:rgb(43, 51, 71);
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;

}

.card-body,
tbody {
    font-family: "Arial", sans-serif;
    background-color: white;
    background-position: center;
}

.container { 
    background-position: center;
    background-repeat: no-repeat;


}
body {
    background-color: black;
    background-image: url("https://external-preview.redd.it/q2sYa64g3rLQMRFdbqkU_k_V7kQ1lUx1jO3kuv2CDVc.jpg?auto=webp&s=dffdce49994e684421b73ee6605810a8eae2de03");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
}


@media screen and (max-width:980px) {  
}

@media screen and (max-width:768px) {
}

@media screen and (max-width:640px) {
}

@media (max-width: 640px) {
    .jumbotron, .card-header{
      position: static;
    }
}

